{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "TodoBot.fullname" . }}
  labels:
    {{- include "TodoBot.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with .Values.ingress.className }}
  ingressClassName: {{ . }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                {{- if eq .backend "backend" }}
                name: {{ include "TodoBot.fullname" $ }}-backend
                port:
                  number: {{ $.Values.backend.service.port }}
                {{- else if eq .backend "frontend" }}
                name: {{ include "TodoBot.fullname" $ }}-frontend
                port:
                  number: {{ $.Values.frontend.service.port }}
                {{- else }}
                name: {{ include "TodoBot.fullname" $ }}-{{ .backend }}
                port:
                  number: 80
                {{- end }}
          {{- end }}
    {{- end }}
{{- end }}
